
@import "var";


.personal-configuration-section{
  background: #dfe6f3;


  margin-top: -108px;
  clip-path: polygon(0% 0%, 50% 50px, 100% 50px, 100% 100%, 0% 100%);
  padding: 10em 0 1.5em;

  .container{
    padding: 0 1.5em;


    .left-side{


      .section-header{
        color: #303030;

        text-align: center;
        font-family: MetropolisBold, sans-serif;
        font-size: 28px;
        margin-bottom: 50px;

      }


      .input-group{
        margin-top: 15px;

        .input-header{
          font-family: MetropolisBold, sans-serif;
          color: #787878;

          padding: 1em 0;
        }

      }

      @import "components/dedicated-inputs";



      .left-info{
        font-family: MetropolisRegular, sans-serif;
        padding: 1.5em 0;
        color: #8f8f8f;
        line-height: 18px;
        display: block;
        width: 80%;
        margin: 0 0  0 45px ;

        position: relative;


        &:before{
          content: "i";
          border-radius: 50%;
          width: 20px;
          height: 20px;
          padding: 5px;
          background: #aeaeae;
          position: absolute;
          color: #cfdbef;
          text-align: center;
          left: -41px;
          top: 30px;
          font: 18px serif;
          font-weight: bold;
        }
      }
    }

    .right-side{
      .package{

        -webkit-animation: fadeEffect 1s;
        animation: fadeEffect 1s;

        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;


        background-color: #fff;

        box-shadow: 0 0 10px 0 #ddd;

        padding: 1.5em;
        margin-bottom: 1.5em;

        .trial-flex{
          display: flex;
          align-items: center;
          justify-content: space-between !important;
        }

        .package-title{
          font-family: MetropolisBold, sans-serif;
          font-size: 1.5em;
          color: #505050;
          margin-bottom: 1em;

          .trial-title{
            font-family: MetropolisBold, sans-serif;
            font-size: 12px;
            color: #2f79dd;
          }
        }

        .package-price-wrap{

          font-family: MetropolisBold, sans-serif;

          font-size: 12px;
          display: flex;

          flex-wrap: wrap;
          align-items: center;

          color: #959595;

          margin-bottom: 1.5em;

          .product-price{

            color: black;
            font-size: 24px;
            margin-right: auto;

            font-family: MetropolisExtraBold, sans-serif;
            margin-left: 20px;
          }
        }

        .package-description-list{
          width: 100%;

          li{
            width: 100%;
            padding: 0.5em 0 ;

            display: flex;
            align-items: center;



            .total-price-label{
              margin-top: 10px;
              font-size: 13px;

              font-family: MetropolisSemiBold, sans-serif !important;
              color: #a5a5a5 !important;
            }

            p:first-child{
              color: #a6a6a6 ;
              width: 45%;

              font-family: MetropolisRegular, sans-serif;
            }
            p{
              color: #5d5d5d;
              line-height: 1.5;
              font-size: 12px;
              font-family: MetropolisMedium, sans-serif;
              display: inline-block;
              width: 60%;

              .extra-price-span{
                float: right;
                color: #1355ba;
                font-family: MetropolisSemiBold, sans-serif;
              }
            }
          }
        }

        .package-btn-wrap{
          display: flex;

          justify-content: space-between;
          align-items: center;


          .total-text{
            font-size: 30px ;
            color: #1d5fbd;

            font-family: MetropolisExtraBold, sans-serif;

          }

          .package-btn{

            cursor: pointer;

            outline: none;
            font-family: MetropolisSemiBold, sans-serif;

            background-color: #f5f5f5;
            color: #8e8e8e;

            padding: 0.7em 2.5em;

            margin: 0 10px;

            font-size: 14px;
            display: flex;
            align-items: center;


            border-radius: 12px;


            border: none;
          }

          .package-buy-btn{
            background-color: red;
            color: white;
          }
        }

      }

    }
  }

}


@media screen and (min-width: $layout-breakpoint-1024){





  .personal-configuration-section{

    -webkit-clip-path: polygon(0% 0%, 50% 5%, 100% 5%, 100% 0%, 100% 93%, 50% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 50% 59px, 100% 31px, 100% 0%, 100% 93%, 50% 100%, 0% 100%);
    margin-top: -78px;
    padding: 8em 0 8em;


    .container{
      padding: 0;
      max-width: 1115px;
      margin: 0 auto;

      display: flex;
      justify-content: space-between;

      .left-side{

        display: flex;
        flex-wrap: wrap;

        width: 58%;
        margin-left: 69px;
        padding-top: 1.5em;


        .left-info{
          font-size: 12px;

          &::before{
            line-height: 10px;
            width: 10px;
            height: 10px;
            padding: 2px;
            top: 27px;
            left: -30px;
            font-size: 16px;
            font-weight: bold;
            font-family: serif;

          }
        }

        .section-header{
          width: 100%;
          text-align: left;
          font-size: 24px;
          padding-left: 20px;
          margin-bottom: 0;
          margin-top: 60px
        }

        .input-group{

          margin: 1em 60px -0 0;
          width: 40%;

          .input-header{
            font-size: 12px;
            padding-left: 22px;
          }

          .ssd-anchor, .ram-anchor{
            word-spacing: 7px;
          }

          .dropdown{
            height: 45px;

            -webkit-border-radius: 23px;
            -moz-border-radius: 23px;
            border-radius: 23px;

            &::before{
              top: 16px;

            }

            &::after{
              top: 17px;
            }

            &-select{

              height: 45px;
              font-size: 13px;

              option{
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                padding: 5px;
              }
            }
          }
        }

      }

      .right-side{

        width: 31%;
        margin-top: 36px;
        .package{
          -webkit-transition: box-shadow 0.7s;
          -moz-transition: box-shadow 0.7s;
          -ms-transition: box-shadow 0.7s;
          -o-transition: box-shadow 0.7s;
          transition: box-shadow 0.7s;

          &:hover{
            box-shadow: 0 0 20px 0 darkgray;
          }

          border-radius: 12px;
          margin: 0 1em;

          padding: 0;

          .padding-box{
            padding: 2.3em 30px 1em 28px;

          }

          .package-footer{
            display: flex;
            align-items: center;
            justify-content: space-between;

            padding: 15px 29px;
            background: #f4f8fd;


            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;

            p{
              font-family: MetropolisSemiBold, sans-serif;
              color: #bcc7d8;

              font-size: 13px;
            }

            .monthly-price-span-wrap{
              margin-right: 19%;
              font-size: 18px;
              color: #1d5fbd;
              font-family: MetropolisExtraBold, sans-serif;
            }


          }


          .package-title{
            font-size: 18px;
            font-family: MetropolisExtraBold, sans-serif;

          }

          .package-description-list{


          }

          .package-btn-wrap{

            .package-btn{
              margin-right: 20px;
              padding: 0.7em 2.5em;

              -webkit-transition: all 0.7s;
              -moz-transition: all 0.7s;
              -ms-transition: all 0.7s;
              -o-transition: all 0.7s;
              transition: all 0.7s;

              &:hover{
                background-color: #dcd8d8;
              }
            }

            .package-buy-btn{

              &:hover{
                background-color: #b00000;
              }
            }
          }
        }
      }
    }
  }
}