

.product-section{
  background: #f5f5f5;

  padding: 3em 0 0;
  .products-wrap{
    display: flex;

    flex-direction: column;

    padding: 0 1.5em;
  }

  .section-header{
    text-align: center;
    font-family: MetropolisBold, sans-serif;
    font-size: 1.3em;


    margin-bottom: 2em;
  }
}


.product{
  z-index: 100;
  background: white;
  margin: 0 auto 2em;


  &:last-child{
    margin-bottom: 0;
  }

  max-width: 450px;

  border-radius: 10px;

  -webkit-box-shadow: 0 0 10px 0 darkgray;
  -moz-box-shadow: 0 0 10px 0 darkgray;
  box-shadow: 0 0 10px 0 darkgray;
  padding: 2em;

  .product-img{
    width: 100%;
    height: 150px;
    padding: 0;
  }

  .product-title{
    color: #0853a6;
    text-align: center;
    font-family: MetropolisSemiBold, sans-serif;
    font-size: 1.2em;
  }

  .product-description{
    margin-top: 2em ;
    font-family: MetropolisRegular, sans-serif;

    color: #a5a5a5;
    font-size: 0.9em;
    line-height: 1.2;
  }

  .product-footer{
    margin-top: 3em;

    font-size: 14px;
    font-family: MetropolisSemiBold, sans-serif;

    display: flex;

    flex-wrap: wrap;

    align-items: center;

    .product-price{
      font-size: 1.8em;
      margin-right: auto;

      font-family: MetropolisExtraBold, sans-serif;
      margin-left: 20px;
    }

    .get-started-btn{
      cursor: pointer;
      background-color: red;

      color: white;

      padding: 10px;

      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      margin: 0 auto;

      &.vps{
        background-color: blue;
      }
    }
  }
}


.img-cloud{
  background: center url("../img/server 1.png") no-repeat;

}


.img-product-done{
  background: center url("../img/server 2.png") no-repeat;

}



@media screen  and (min-width: 1100px){


  .product-section{
    padding: 5em 0;

    .section-header{
        font-size: 2em;
    }


    .products-wrap{

      flex-direction: row;

      width: 1000px;
      margin: 0 auto;
      justify-content: space-around;
      .product{

        &:last-child{
          margin-bottom: 2em;
        }
        background: transparent;

        padding: 4em 3em;




        box-shadow: none;
        width: 35%;

        -webkit-transition: all 0.6s;
        -moz-transition: all 0.6s;
        -ms-transition: all 0.6s;
        -o-transition: all 0.6s;
        transition: all 0.6s;

        &:hover{
          background: white;
          box-shadow: 0 0 10px 0 darkgray;
        }



      }
    }
  }

}