@import "reset";
@import "fonts";


a{
  font-family: MetropolisRegular, sans-serif;
  text-decoration: none;
  font-weight: bold;
}




//TOP NAVIGATION
.top-navigation{
  display: flex;

  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1em;

  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;





  .logo-link{
    display: inline-block;

    background: url("../img/logo.png") no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    width: 80px;
    height: 65px;
    margin-left: 20px;


  }


  .nav-menu{

    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;

    top: 0;
    right: 0;

    text-align: center;

    li{

      display: block;
      width: 80%;
      margin: auto;

      &.nav-join-us-btn{
        margin: 1em auto ;
      }

      &.nav-join-us-btn{
        a{
          color: #1a5285;
        }
      }


      a{
        font-size: 1em;
        display: block;
        padding: 1em 2em;
        color: white;


        &:active{
          background-color: #1a5285;
        }
      }
    }


  }

  .nav-menu.active{

    margin-top: 5.5em;

    visibility: visible;
  }



  .nav-login-btn{

    border: 1px solid white;

    margin-top: 1em;
    border-radius: 6px;


  }

  .nav-join-us-btn{
    background-color: white;

    border: 1px solid white;

    border-radius: 6px;


    margin-top: 1em;

  }

}


.top-navigation.active{
  padding: 0;

  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1e65be;
  align-items: flex-start;


  .logo-link{
    margin: 1em;
  }

  .nav-burger{
    margin: 1em;

  }


}

// Header
header{

  width: 100%;

  height: 100vh;





  .header-inner{
    &:before {
      content: "";
      position: absolute;
      top: 0;
      DISPLAY: BLOCK;
      height: 100%;
      WIDTH: 100%;
      z-index: -1;


      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1653b1+0,2f79dd+100 */
      background: #1653b1; /* Old browsers */
      background: -moz-linear-gradient(-45deg, #1653b1 0%, #2f79dd 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(-45deg, #1653b1 0%,#2f79dd 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(135deg, #1653b1 0%,#2f79dd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1653b1', endColorstr='#2f79dd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    }

    .container{

      padding: 1em;




      .home-heading{
        margin-top: 10%;
        text-transform: uppercase;
        line-height: 1.4;
        font-size: 1.6em;
        color: white;
        font-family: MetropolisExtraBold, sans-serif;
      }

      .home-subheading{

        margin-top: 2em;

        font-family: MetropolisSemiBold, sans-serif;
        color: white;
        line-height: 1.3;
        font-size: 1.3em;

        .text-bold{

          font-family: MetropolisExtraBold, sans-serif;
        }

        .free-trials-title{
          display: block;

          font-family: MetropolisMedium, sans-serif;
          font-size: 0.9em;
        }

      }

      .home-description{
        margin-top: 2em;
        font-family: MetropolisRegular, sans-serif;
        line-height: 1.2;
        color: white;



      }

      .home-btn{
        color: #1a5285;
        display: block;
        text-align: center;
        margin: 1em 1em;
        padding: 0.9em 1.5em;
        background-color: white;


        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
      }
    }



  }
}


.span-row-breaker{
  margin-top: 10px;
  display: block;
}

header.nav-active-bg{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1d639a+0,388baa+100 */
  background: #1d639a; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #1d639a 0%, #388baa 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #1d639a 0%,#388baa 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #1d639a 0%,#388baa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d639a', endColorstr='#388baa',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}






.nav-burger {
  display: inline-block;
  cursor: pointer;

  outline: none;

  &:active{
    outline: none;
  }
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 7px);
  transform: rotate(-45deg) translate(-9px, 7px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -7px);
  transform: rotate(45deg) translate(-8px, -7px);
}






@media screen and (min-width: 1100px) {


  .nav-burger{
    display: none;
  }

  .span-row-breaker{
    display: inline !important;
  }


  //TOP NAVIGATION
  .top-navigation{

    display: flex;
    justify-content: space-between;

    max-width: 1100px;

    position: relative;
    width: 100%;
    margin: 0 auto;
    z-index: 1000;
    top: 0;

    .logo-link{
      margin: 0;
      width: 100px;
      height: 80px;
    }
    .nav-menu{
      display: flex;
      justify-content: space-between;
      position: initial;

      visibility: visible;


      .sub-menu{
        display: none;
      }






    }

  }


  header {

    height: 105vh;
    margin-top: -200px;

    transform: skewY(-6deg);

    background-color: #e9f7f4;


    .header-inner {
      

      transform: skewY(12deg);


      -webkit-background-size: contain;
      background-size: contain;
      height: 105vh;
      &:before{

      }


      .container {



        transform: skewY(-6deg);
        padding-top: 100px;

        max-width: 1100px;

        margin: 0 auto;


        .home-heading{
          margin-top: 18%;
          font-size: 2.5em;
        }

        .home-description{
          width: 50%;
          font-size: 1.2em;
          line-height: 1.4em;

        }

        .home-subheading{
          font-size: 2em;
        }

        .home-btn{

          display: inline-block;

          padding: 1em 6.5em;

          font-size: 1.3em;
          margin: 1em 0;

        }


      }





    }


  }






}