@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  overflow: hidden; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: MetropolisExtraBold;
  font-display: swap;
  src: url("../fonts/metropolis/Metropolis-ExtraBold.otf") format("opentype"); }

@font-face {
  font-family: MetropolisBold;
  font-display: swap;
  src: url("../fonts/metropolis/Metropolis-Bold.otf") format("opentype"); }

@font-face {
  font-family: MetropolisSemiBold;
  font-display: swap;
  src: url("../fonts/metropolis/Metropolis-SemiBold.otf") format("opentype"); }

@font-face {
  font-family: MetropolisMedium;
  font-display: swap;
  src: url("../fonts/metropolis/Metropolis-Medium.otf") format("opentype"); }

@font-face {
  font-family: MetropolisRegular;
  font-display: swap;
  src: url("../fonts/metropolis/Metropolis-Regular.otf") format("opentype"); }

a {
  font-family: MetropolisRegular, sans-serif;
  text-decoration: none;
  font-weight: bold; }

.top-navigation {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .top-navigation .logo-link {
    display: inline-block;
    background: url("../img/logo.png") no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    width: 80px;
    height: 65px;
    margin-left: 20px; }
  .top-navigation .nav-menu {
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    right: 0;
    text-align: center; }
    .top-navigation .nav-menu li {
      display: block;
      width: 80%;
      margin: auto; }
      .top-navigation .nav-menu li.nav-join-us-btn {
        margin: 1em auto; }
      .top-navigation .nav-menu li.nav-join-us-btn a {
        color: #1a5285; }
      .top-navigation .nav-menu li a {
        font-size: 1em;
        display: block;
        padding: 1em 2em;
        color: white; }
        .top-navigation .nav-menu li a:active {
          background-color: #1a5285; }
  .top-navigation .nav-menu.active {
    margin-top: 5.5em;
    visibility: visible; }
    .top-navigation .nav-menu.active .nav-more-link > a {
      display: none; }
  .top-navigation .nav-login-btn {
    border: 1px solid white;
    margin-top: 1em;
    border-radius: 6px; }
  .top-navigation .nav-join-us-btn {
    background-color: white;
    border: 1px solid white;
    border-radius: 6px;
    margin-top: 1em; }

.top-navigation.active {
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1e65be;
  align-items: flex-start; }
  .top-navigation.active .logo-link {
    margin: 1em; }
  .top-navigation.active .nav-burger {
    margin: 1em; }

header {
  width: 100%;
  height: 100vh; }
  header .header-inner:before {
    content: "";
    position: absolute;
    top: 0;
    DISPLAY: BLOCK;
    height: 100%;
    WIDTH: 100%;
    z-index: -1;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1653b1+0,2f79dd+100 */
    background: #1653b1;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #1653b1 0%, #2f79dd 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #1653b1 0%, #2f79dd 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #1653b1 0%, #2f79dd 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1653b1', endColorstr='#2f79dd',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */ }
  header .header-inner .container {
    padding: 1em; }
    header .header-inner .container .home-heading {
      margin-top: 10%;
      text-transform: uppercase;
      line-height: 1.4;
      font-size: 1.6em;
      color: white;
      font-family: MetropolisExtraBold, sans-serif; }
    header .header-inner .container .home-subheading {
      margin-top: 2em;
      font-family: MetropolisSemiBold, sans-serif;
      color: white;
      line-height: 1.3;
      font-size: 1.3em; }
      header .header-inner .container .home-subheading .text-bold {
        font-family: MetropolisExtraBold, sans-serif; }
      header .header-inner .container .home-subheading .free-trials-title {
        display: block;
        font-family: MetropolisMedium, sans-serif;
        font-size: 0.9em; }
    header .header-inner .container .home-description {
      margin-top: 2em;
      font-family: MetropolisRegular, sans-serif;
      line-height: 1.2;
      color: white; }
    header .header-inner .container .home-btn {
      color: #1a5285;
      display: block;
      text-align: center;
      margin: 1em 1em;
      padding: 0.9em 1.5em;
      background-color: white;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px; }

.span-row-breaker {
  margin-top: 10px;
  display: block; }

header.nav-active-bg {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1d639a+0,388baa+100 */
  background: #1d639a;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #1d639a 0%, #388baa 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #1d639a 0%, #388baa 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #1d639a 0%, #388baa 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d639a', endColorstr='#388baa',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

.nav-burger {
  display: inline-block;
  cursor: pointer;
  outline: none; }
  .nav-burger:active {
    outline: none; }

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s; }

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 7px);
  transform: rotate(-45deg) translate(-9px, 7px); }

.change .bar2 {
  opacity: 0; }

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -7px);
  transform: rotate(45deg) translate(-8px, -7px); }

@media screen and (min-width: 1100px) {
  .nav-burger {
    display: none; }
  .span-row-breaker {
    display: inline !important; }
  .top-navigation {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    position: relative;
    margin: 0 auto;
    z-index: 1000;
    top: 0; }
    .top-navigation .logo-link {
      margin: 0;
      width: 100px;
      height: 80px;
      flex: 20%; }
    .top-navigation .nav-menu {
      display: flex;
      justify-content: space-between;
      position: initial;
      visibility: visible; }
      .top-navigation .nav-menu > li {
        -webkit-transition: all 0.6s;
        -moz-transition: all 0.6s;
        -ms-transition: all 0.6s;
        -o-transition: all 0.6s;
        transition: all 0.6s; }
        .top-navigation .nav-menu > li:after {
          content: '';
          width: 0%;
          background: white;
          height: 2px;
          display: block;
          -webkit-transition: all 0.6s;
          -moz-transition: all 0.6s;
          -ms-transition: all 0.6s;
          -o-transition: all 0.6s;
          transition: all 0.6s; }
        .top-navigation .nav-menu > li:hover:after {
          width: 100%; }
      .top-navigation .nav-menu .nav-more-link {
        position: relative; }
        .top-navigation .nav-menu .nav-more-link > a:after {
          content: '▼';
          font-size: 0.8em;
          margin-left: 0.7px; }
        .top-navigation .nav-menu .nav-more-link:hover .sub-menu {
          display: block;
          opacity: 1; }
      .top-navigation .nav-menu .sub-menu {
        display: none;
        width: 200%;
        padding: 1em 0;
        position: absolute;
        -webkit-transition: all 0.8s;
        -moz-transition: all 0.8s;
        -ms-transition: all 0.8s;
        -o-transition: all 0.8s;
        transition: all 0.8s;
        top: 100%;
        left: -50%;
        background-color: #fff;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        opacity: 0;
        -webkit-transition: all 0.6s;
        -moz-transition: all 0.6s;
        -ms-transition: all 0.6s;
        -o-transition: all 0.6s;
        transition: all 0.6s; }
        .top-navigation .nav-menu .sub-menu li {
          background: white; }
          .top-navigation .nav-menu .sub-menu li:hover {
            background: #2f79dd;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;
            -webkit-transition: all 0.7s;
            -moz-transition: all 0.7s;
            -ms-transition: all 0.7s;
            -o-transition: all 0.7s;
            transition: all 0.7s;
            transform: scale(1.05); }
            .top-navigation .nav-menu .sub-menu li:hover a {
              color: white; }
          .top-navigation .nav-menu .sub-menu li a {
            padding: 1em;
            color: #1a5285; }
  header {
    height: 105vh;
    margin-top: -200px;
    transform: skewY(-6deg);
    background-color: #e9f7f4; }
    header .header-inner {
      transform: skewY(12deg);
      -webkit-background-size: contain;
      background-size: contain;
      height: 105vh; }
      header .header-inner .map-wrapper {
        background: url(../img/map.png) no-repeat;
        background-position: 484%;
        background-size: 96%;
        height: 100%;
        background-position-y: -10vh; }
      header .header-inner .container {
        transform: skewY(-6deg);
        padding-top: 100px;
        max-width: 1100px;
        margin: 0 auto; }
        header .header-inner .container .home-heading {
          margin-top: 18%;
          font-size: 2.5em; }
        header .header-inner .container .home-description {
          width: 50%;
          font-size: 1.2em;
          line-height: 1.4em; }
        header .header-inner .container .home-subheading {
          font-size: 2em; }
        header .header-inner .container .home-btn {
          display: inline-block;
          padding: 1em 6.5em;
          font-size: 1.3em;
          margin: 1em 0; } }
