@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  overflow-x: hidden;
  background-color: #d3dff1; }

a {
  font-family: MetropolisRegular, sans-serif;
  text-decoration: none;
  font-weight: bold; }

@font-face {
  font-family: MetropolisExtraBold;
  font-display: swap;
  src: url("../fonts/metropolis/Metropolis-ExtraBold.otf") format("opentype"); }

@font-face {
  font-family: MetropolisBold;
  font-display: swap;
  src: url("../fonts/metropolis/Metropolis-Bold.otf") format("opentype"); }

@font-face {
  font-family: MetropolisSemiBold;
  font-display: swap;
  src: url("../fonts/metropolis/Metropolis-SemiBold.otf") format("opentype"); }

@font-face {
  font-family: MetropolisMedium;
  font-display: swap;
  src: url("../fonts/metropolis/Metropolis-Medium.otf") format("opentype"); }

@font-face {
  font-family: MetropolisRegular;
  font-display: swap;
  src: url("../fonts/metropolis/Metropolis-Regular.otf") format("opentype"); }

.nav-burger {
  display: inline-block;
  cursor: pointer;
  outline: none; }
  .nav-burger:active {
    outline: none; }

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s; }

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 7px);
  transform: rotate(-45deg) translate(-9px, 7px); }

.change .bar2 {
  opacity: 0; }

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -7px);
  transform: rotate(45deg) translate(-8px, -7px); }

@media screen and (min-width: 1024px) {
  .nav-burger {
    display: none; } }

.top-navigation {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .top-navigation .logo-link {
    display: inline-block;
    background: url("../img/logo-servers.png") no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    width: 80px;
    height: 65px;
    margin-left: 20px; }
  .top-navigation .nav-menu {
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    right: 0;
    text-align: center; }
    .top-navigation .nav-menu li {
      display: block;
      width: 80%;
      margin: auto; }
      .top-navigation .nav-menu li.nav-join-us-btn {
        margin: 1em auto; }
      .top-navigation .nav-menu li.nav-join-us-btn a {
        color: #1a5285; }
      .top-navigation .nav-menu li a {
        font-size: 1em;
        display: block;
        padding: 12px 20px;
        color: white; }
        .top-navigation .nav-menu li a:active {
          background-color: #1a5285; }
  .top-navigation .nav-menu.active {
    margin-top: 5.5em;
    visibility: visible; }
    .top-navigation .nav-menu.active .nav-more-link > a {
      display: none; }
  .top-navigation .nav-login-btn {
    border: 1px solid white;
    margin-top: 1em;
    border-radius: 6px; }
    .top-navigation .nav-login-btn:hover {
      background: white; }
      .top-navigation .nav-login-btn:hover a {
        color: #2f79dd; }
      .top-navigation .nav-login-btn:hover:after {
        display: none; }
  .top-navigation .nav-join-us-btn {
    background-color: white;
    border: 1px solid white;
    border-radius: 6px; }
    .top-navigation .nav-join-us-btn:hover {
      background: #d6d6d6; }
      .top-navigation .nav-join-us-btn:hover:after {
        display: none; }

.top-navigation.active {
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1e65be;
  align-items: flex-start;
  z-index: 10000000000000000000000; }
  .top-navigation.active .logo-link {
    margin: 1em; }
  .top-navigation.active .nav-burger {
    margin: 1em; }

@media screen and (min-width: 1024px) {
  .top-navigation {
    display: flex;
    justify-content: space-between;
    max-width: 1190px;
    position: relative;
    margin: 0 auto;
    z-index: 1000;
    top: 0; }
    .top-navigation .logo-link {
      margin: 0;
      width: 100px;
      height: 80px;
      flex: 20%; }
    .top-navigation .nav-menu {
      display: flex;
      justify-content: space-between;
      position: initial;
      visibility: visible; }
      .top-navigation .nav-menu li a {
        position: relative; }
        .top-navigation .nav-menu li a:hover {
          color: #1355ba; }
          .top-navigation .nav-menu li a:hover:before {
            opacity: 1;
            visibility: visible;
            height: 54%; }
      .top-navigation .nav-menu > li {
        position: relative; }
        .top-navigation .nav-menu > li a:before {
          transition: all 0.6s;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          margin: auto;
          width: 86%;
          height: 1px;
          content: '.';
          color: transparent;
          background: #fff;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
          visibility: hidden;
          opacity: 0;
          z-index: -1;
          padding: 10px; }
      .top-navigation .nav-menu .nav-more-link {
        position: relative; }
        .top-navigation .nav-menu .nav-more-link > a:after {
          content: '▼';
          font-size: 0.8em;
          margin-left: 0.7em; }
        .top-navigation .nav-menu .nav-more-link:hover:after {
          display: none; }
        .top-navigation .nav-menu .nav-more-link:hover .sub-menu {
          display: block;
          opacity: 1; }
      .top-navigation .nav-menu .sub-menu {
        display: none;
        width: 100%;
        position: absolute;
        -webkit-transition: all 0.8s;
        -moz-transition: all 0.8s;
        -ms-transition: all 0.8s;
        -o-transition: all 0.8s;
        transition: all 0.8s;
        top: 100%;
        background-color: #fff;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        opacity: 0;
        -webkit-transition: all 0.6s;
        -moz-transition: all 0.6s;
        -ms-transition: all 0.6s;
        -o-transition: all 0.6s;
        transition: all 0.6s; }
        .top-navigation .nav-menu .sub-menu li {
          width: 100%;
          box-shadow: none;
          transition: all .15s linear;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px; }
          .top-navigation .nav-menu .sub-menu li:hover {
            background-color: #fff;
            box-shadow: 0 2px 4px rgba(3, 27, 78, 0.06);
            position: relative;
            -webkit-transform: scale(1.05);
            -moz-transform: scale(1.05);
            -ms-transform: scale(1.05);
            -o-transform: scale(1.05);
            transform: scale(1.05); }
          .top-navigation .nav-menu .sub-menu li a {
            padding: 1em;
            color: #1a5285; }
  .nav-join-us-btn {
    margin-right: 14px !important; } }

header {
  clip-path: none;
  background: #1653b1;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #1653b1 0%, #2f79dd 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #1653b1 0%, #2f79dd 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #1653b1 0%, #2f79dd 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1653b1', endColorstr='#2f79dd',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }
  header .container {
    padding: 80px 1.5em 160px;
    text-align: center;
    color: white; }
    header .container .home-heading {
      font-family: MetropolisExtraBold, sans-serif;
      font-size: 40px; }
    header .container .home-description {
      font-family: MetropolisMedium, sans-serif;
      font-size: 16px;
      margin-top: 2em; }

.contact-form {
  background: #fff; }
  .contact-form .container {
    padding: 0 1.5em; }
    .contact-form .container form {
      position: relative; }
    .contact-form .container .contact-form-wrap {
      -moz-box-shadow: 6.293px 7.771px 38px rgba(127, 127, 127, 0.23);
      -webkit-box-shadow: 6.293px 7.771px 38px rgba(127, 127, 127, 0.23);
      box-shadow: 6.293px 7.771px 38px rgba(127, 127, 127, 0.23);
      border-radius: 10px;
      padding: 1.5em;
      position: relative;
      top: -120px;
      background: white; }
      .contact-form .container .contact-form-wrap div.wpcf7-mail-sent-ok {
        display: block;
        position: absolute;
        top: 69%;
        right: 0;
        width: 236px;
        line-height: 1.4;
        border: none;
        font-family: MetropolisBold, sans-serif; }
      .contact-form .container .contact-form-wrap span.wpcf7-not-valid-tip {
        font-family: MetropolisBold, sans-serif;
        font-size: 12px;
        margin-top: 10px; }
      .contact-form .container .contact-form-wrap div.wpcf7-validation-errors, .contact-form .container .contact-form-wrap div.wpcf7-acceptance-missing {
        display: block;
        position: absolute;
        top: 70%;
        width: 273px; }
      .contact-form .container .contact-form-wrap .input-wrap {
        font-family: MetropolisMedium, sans-serif;
        font-size: 13px;
        color: #1556b0;
        margin-bottom: 3em;
        display: flex;
        flex-direction: column; }
        .contact-form .container .contact-form-wrap .input-wrap input, .contact-form .container .contact-form-wrap .input-wrap textarea, .contact-form .container .contact-form-wrap .input-wrap select {
          margin-top: 1em;
          font-family: MetropolisMedium, sans-serif;
          color: #1556b0;
          height: 40px;
          outline: none;
          border: 1px;
          padding: 0 2em;
          border-radius: 10px;
          box-shadow: 0 0 10px rgba(27, 98, 193, 0.16);
          background-color: #ffffff;
          width: 168px; }
        .contact-form .container .contact-form-wrap .input-wrap select {
          width: 100%; }
        .contact-form .container .contact-form-wrap .input-wrap textarea {
          padding: 1em 2em;
          height: 100px; }
        .contact-form .container .contact-form-wrap .input-wrap .inputfile {
          width: 0.1px;
          height: 0.1px;
          opacity: 0;
          overflow: hidden;
          position: absolute;
          z-index: -1; }
        .contact-form .container .contact-form-wrap .input-wrap label {
          display: inline-block;
          color: red;
          font-size: 14px;
          font-family: MetropolisExtraBold, sans-serif; }
        .contact-form .container .contact-form-wrap .input-wrap label,
        .contact-form .container .contact-form-wrap .input-wrap label:hover {
          color: #a80000; }
        .contact-form .container .contact-form-wrap .input-wrap label {
          cursor: pointer;
          /* "hand" cursor */ }
      .contact-form .container .contact-form-wrap .package-btn-wrap {
        display: flex;
        justify-content: center;
        align-items: center; }
        .contact-form .container .contact-form-wrap .package-btn-wrap .package-btn {
          font-family: MetropolisSemiBold, sans-serif;
          background-color: #f5f5f5;
          color: #8e8e8e;
          padding: 0.7em 2.5em;
          margin: 0 10px;
          font-size: 14px;
          border-radius: 30px;
          border: none;
          cursor: pointer; }
        .contact-form .container .contact-form-wrap .package-btn-wrap .package-buy-btn {
          background-color: red;
          color: white; }

@media screen and (min-width: 1024px) {
  div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
    line-height: 1.4;
    display: block;
    position: absolute;
    top: 71.2%;
    right: -27px;
    width: 273px;
    border: none;
    font-family: MetropolisBold, sans-serif;
    font-size: 14px;
    color: red; }
  div.wpcf7-mail-sent-ok {
    line-height: 1.4;
    display: block;
    font-family: MetropolisBold, sans-serif;
    right: 0;
    border: 2px solid #398f14;
    position: absolute;
    top: 68.5%;
    color: #398f14;
    width: 30%;
    border: none; }
  .contact-form .container {
    max-width: 765px;
    margin: 0 auto; }
    .contact-form .container .contact-form-wrap {
      padding: 62px; }
      .contact-form .container .contact-form-wrap .input-wrap {
        display: flex;
        align-items: baseline;
        flex-direction: row; }
        .contact-form .container .contact-form-wrap .input-wrap input {
          width: 300px;
          margin-top: 0; }
        .contact-form .container .contact-form-wrap .input-wrap textarea {
          width: 300px;
          height: 100px; }
        .contact-form .container .contact-form-wrap .input-wrap select {
          width: 353px; }
      .contact-form .container .contact-form-wrap .ml-42 {
        margin-left: 47%; }
      .contact-form .container .contact-form-wrap .package-btn-wrap .package-btn {
        margin-left: 80px;
        padding: 0.7em 2.5em;
        -webkit-transition: all 0.7s;
        -moz-transition: all 0.7s;
        -ms-transition: all 0.7s;
        -o-transition: all 0.7s;
        transition: all 0.7s; } }

@media screen and (min-width: 1024px) {
  header {
    clip-path: none; }
    header .container {
      max-width: 1190px;
      margin: 0 auto; }
      header .container .home-description {
        width: 44%;
        margin: 3em auto;
        line-height: 1.7; } }

footer {
  background-color: #003386;
  width: 100%;
  color: white; }
  footer .copyright {
    font-family: MetropolisRegular, sans-serif;
    font-size: 12px;
    padding: 1em; }
  footer .footer-nav-wrap {
    padding: 1em 0 0 1em;
    display: flex;
    flex-wrap: wrap; }
    footer .footer-nav-wrap .footer-nav-item {
      padding: 1em 0;
      width: 50%; }
      footer .footer-nav-wrap .footer-nav-item h4 {
        font-family: MetropolisExtraBold, sans-serif;
        font-size: 16px; }
      footer .footer-nav-wrap .footer-nav-item ul {
        margin-top: 0.5em; }
        footer .footer-nav-wrap .footer-nav-item ul li a {
          display: block;
          padding: 10px 0;
          color: white;
          font-family: MetropolisRegular, sans-serif;
          font-size: 14px;
          font-weight: 300; }
    footer .footer-nav-wrap .footer-nav-img-wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start; }
      footer .footer-nav-wrap .footer-nav-img-wrap li {
        margin-bottom: 5px;
        width: 60px;
        height: 55px;
        border-radius: 10px; }
        footer .footer-nav-wrap .footer-nav-img-wrap li a {
          width: 100%;
          height: 100%; }
      footer .footer-nav-wrap .footer-nav-img-wrap .footer-nav-img {
        display: block;
        height: 100%;
        width: 100%;
        background: url("../img/Icons Footer.png") no-repeat; }
      footer .footer-nav-wrap .footer-nav-img-wrap .logo {
        background-position: 0 0; }
      footer .footer-nav-wrap .footer-nav-img-wrap .facebook {
        background-position: -135px 0; }
      footer .footer-nav-wrap .footer-nav-img-wrap .twitter {
        background-position: -68px 0; }

@media screen and (min-width: 1024px) {
  footer {
    padding: 2em 0; }
    footer .footer-nav-wrap {
      max-width: 1190px;
      margin: 0 auto; }
      footer .footer-nav-wrap .footer-nav-item {
        width: 25%; }
        footer .footer-nav-wrap .footer-nav-item ul {
          margin-top: 2em; }
          footer .footer-nav-wrap .footer-nav-item ul li a {
            padding: 1em 0; }
            footer .footer-nav-wrap .footer-nav-item ul li a:hover {
              text-decoration: underline; }
      footer .footer-nav-wrap .footer-nav-img-wrap li {
        margin-right: 15px; }
  .copyright {
    max-width: 1200px;
    padding: 2em;
    margin: 0 auto; } }
