[Desktop Entry]
Encoding=UTF-8
Name=Link to Contacts.psd11 MB Photoshop DocumentClick to download
Type=Link
URL=https://files.slack.com/files-pri/T52JCC6GL-FCKGQ5EQ1/download/contacts.psd
Icon=text-html
